<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order a Pet</title>
</head>
<body>
<h1>Order a Pet</h1>
<form action="#" method="post" class="form-horizontal">

    <fieldset class="form-group">
    <div class="form-group">
    <label for="pet">What kind if pet would you like to order?</label>
    <input type="text" class="form-control"  id="pet" name="pet">
<!--    <span class="err" id="errFname">Please enter your name</span>-->
    </div>
    </fieldset>
    <fieldset class="form-group">
    <label for="color">Select a color</label>
    <select class="form-control" id="color" name="color">
        <option value="pink">Pink</option>
        <option value="blue">Blue</option>
        <option value="red">Red</option>

    </select>
    </fieldset>
    <br>
    <br>

    <button type="submit" class="btn btn-primary">Place Order</button>
</form>
</body>
</html>